<header>
  <figure class="dictionary-logo">
    <img src="../assets/images/logo.svg" alt="Dictionary logo" />
  </figure>
  <div class="content-header">
    <div class="dropdown">
      <figure class="arrow-down" (click)="showDropdown()">
        <span id="teste">Sans Serif</span>
        <img src="../assets/images/icon-arrow-down.svg" alt="arrow down" />
      </figure>
      <div class="dropdown-content">
        <span>Sans Serif</span>
        <span>Serif</span>
        <span>Mono</span>
      </div>
    </div>
    <div class="border"></div>
    <div class="dark-mode">
      <input type="checkbox" id="switch" />
      <label class="switch" for="switch" (click)="toggleTheme()"></label>
      <figure>
        <img src="../assets/images/icon-moon.svg" alt="Dark mode" />
      </figure>
    </div>
  </div>
</header>
<main class="content-main">
  <form class="search" [formGroup]="form">
    <input
      type="search"
      formControlName="word"
      placeholder="Search for any word..."
      [ngClass]="{ 'empty-input' : form.get('word')?.errors?.['required'] && form.get('word')?.touched }"
    />
    <ng-container
      *ngIf="form.get('word')?.errors?.['required'] && form.get('word')?.touched"
    >
      <div class="error-message">
        <small>Whoops, can't be empty…</small>
      </div>
    </ng-container>
    <figure class="search-word" (click)="searchWord()">
      <img src="../assets/images/icon-search.svg" alt="Search" />
    </figure>
  </form>
</main>
