<header>
  <figure class="dictionary-logo">
    <img src="../assets/images/logo.svg" alt="Dictionary logo" />
  </figure>
  <div class="content-header">
    <div class="dropdown">
      <div class="arrow-down" (click)="showDropdown()">
        <span id="teste">Sans Serif</span>
        <img src="../assets/images/icon-arrow-down.svg" alt="arrow down" />
      </div>
      <div class="dropdown-content">
        <span>Sans Serif</span>
        <span>Serif</span>
        <span>Mono</span>
      </div>
    </div>
    <div class="border"></div>
    <div class="dark-mode">
      <input type="checkbox" id="switch" />
      <label class="switch" for="switch" (click)="toggleTheme()"></label>
      <figure>
        <img src="../assets/images/icon-moon.svg" alt="Dark mode" />
      </figure>
    </div>
  </div>
</header>
<main class="content-main">
  <form class="search" [formGroup]="form">
    <input
      type="search"
      formControlName="word"
      (keyup)="searchWord($event)"
      placeholder="Search for any word..."
      [ngClass]="{ 'empty-input' : form.get('word')?.errors?.['required'] && form.get('word')?.touched }"
    />
    <ng-container
      *ngIf="form.get('word')?.errors?.['required'] && form.get('word')?.touched"
    >
      <div class="error-message">
        <small>Whoops, can't be empty…</small>
      </div>
    </ng-container>
    <figure class="search-word">
      <img src="../assets/images/icon-search.svg" alt="Search" />
    </figure>
  </form>
  <div *ngIf="word$ | async as word">
    <div *ngFor="let dictionary of word">
      <h1>{{ dictionary.word }}</h1>
    </div>
  </div>
  <div
    class="not-found-content"
    *ngIf="(word$ | async)?.length === 0 && showNotFoundContent === true"
  >
    <div class="not-found">
      <span>😕</span>
      <h3>No Definitions Found</h3>
    </div>
    <p>
      Sorry pal, we couldn't find definitions for the word you were looking for.
      You can try the search again at later time or head to the web instead.
    </p>
  </div>
</main>
