<header>
  <figure class="dictionary-logo">
    <img src="../assets/images/logo.svg" alt="Dictionary logo" />
  </figure>
  <div class="content-header">
    <div class="dropdown">
      <figure class="arrow-down" (click)="showDropdown()">
        <span>Sans Serif</span>
        <img src="../assets/images/icon-arrow-down.svg" alt="arrow down" />
      </figure>
      <div class="dropdown-content">
        <span>Sans Serif</span>
        <span>Serif</span>
        <span>Mono</span>
      </div>
    </div>
    <div class="border"></div>
    <div class="dark-mode">
      <input type="checkbox" id="switch" />
      <label for="switch"></label>
      <figure>
        <img src="../assets/images/icon-moon.svg" alt="Dark mode" />
      </figure>
    </div>
  </div>
</header>
