@import "../styles.scss";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 960px;
  margin: 3rem auto;
  padding: 0 1.5rem;
  .content-header {
    display: flex;
    .dropdown {
      position: relative;
      display: inline-block;
      cursor: pointer;
      & .arrow-down {
        display: flex;
        gap: 0.8rem;
      }
      & span {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        user-select: none;
      }
      & .dropdown-content {
        display: none;
        position: absolute;
        background-color: $white;
        box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
        border-radius: 1rem;
        margin-top: 10px;
        right: 0;
        padding: 1rem;
        z-index: 1;
        cursor: pointer;
        & span {
          max-width: fit-content;
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          &:hover {
            color: $purple;
          }
        }
      }
    }
    .border {
      border-right: 2px solid $gray-500;
      padding: 0 0.5rem;
    }
    .dark-mode {
      display: flex;
      gap: 20px;
      & label {
        cursor: pointer;
        width: 40px;
        height: 20px;
        background: $gray-700;
        display: block;
        border-radius: 100px;
        position: relative;
        &:after {
          content: "";
          position: absolute;
          top: 3px;
          left: 3px;
          width: 14px;
          height: 14px;
          background: #fff;
          border-radius: 90px;
          transition: 0.3s;
        }
      }
      & input[type="checkbox"] {
        height: 0;
        width: 0;
        visibility: hidden;
      }
      & input {
        &:checked + label {
          background: $purple;
        }
        &:checked + label:after {
          left: calc(100% - 3px);
          transform: translateX(-100%);
        }
      }
      & img {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.content-main {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1.5rem;
  .search {
    position: relative;
    & input {
      width: 100%;
      height: 64px;
      background-color: $gray-400;
      border: none;
      border-radius: 16px;
      padding: 24px 20px;
      color: $black-500;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      caret-color: $purple;
      &::-webkit-search-cancel-button {
        display: none;
      }
      &::placeholder {
        opacity: 0.25;
        color: $black-500;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
      }
      &:focus {
        outline: 1px solid $purple;
      }
    }
    & .search-word {
      position: absolute;
      right: 20px;
      top: 15px;
      padding: 0.5rem;
    }
  }
}

.black-theme {
  background-color: $black-800;
}

.empty-input {
  border: 1px solid $red !important;
  &:focus {
    outline: 1px solid transparent !important;
  }
}

.error-message {
  margin-top: 8px;
  & small {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: $red;
  }
}

.active {
  display: flex !important;
  flex-direction: column;
  gap: 1rem;
  width: 183px;
}

.not-found-content {
  margin-top: 8.25rem;
  .not-found {
    text-align: center;
    & span {
      font-size: 3rem;
    }
    & h3 {
      font-weight: 700;
      font-size: 20px;
      text-align: center;
      color: $black-500;
      margin: 43px 0 24px 0;
    }
  }
  & p {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: $gray-700;
  }
}

.word-container {
  padding: 3rem 0;
  .word-title {
    display: flex;
    justify-content: space-between;
    & .word-phoenetic {
      & h1 {
        font-weight: 700;
        font-size: 64px;
        margin: 0 0 8px 0;
      }
      & span {
        font-weight: 400;
        font-size: 24px;
        color: $purple;
      }
    }
    & img {
      cursor: pointer;
    }
  }
  .grammar-content {
    & .part-speech {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      margin: 40px 0 0 0;
      & small {
        font-style: italic;
        font-weight: 700;
        font-size: 24px;
        color: $black-500;
      }
      & div {
        height: 1px;
        width: 100%;
        background: $gray-500;
      }
    }
  }
  .meaning-content {
    margin: 40px 0 0 0;
    & h4 {
      font-weight: 400;
      font-size: 20px;
      color: $gray-700;
    }
    & ul {
      margin: 25px 0 0 0;
      padding: 0 0 0 3rem;
    }
    & ul li {
      font-weight: 400;
      font-size: 18px;
      color: $black-500;
      margin: 0 0 1rem 0;
      &::marker {
        color: $purple;
      }
    }
    & .meaning-synonyms {
      display: flex;
      align-items: center;
      margin: 64px 0 0 0;
      gap: 22px;
      & small {
        font-weight: 700;
        font-size: 20px;
        color: $purple;
      }
    }
    & p {
      margin: 13px 0 0 0;
      font-weight: 400;
      font-size: 18px;
      color: $gray-700;
    }
  }
  .source {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 19px 0 0 0;
    margin: 19px 0 0 0;
    border-top: 1px solid $gray-500;
    & span {
      font-weight: 400;
      font-size: 14px;
      color: $gray-700;
      border-bottom: 1px solid $gray-700;
    }
    & a {
      font-weight: 400;
      font-size: 14px;
      color: $black-500;
    }
  } & .source-link {
    display: flex;
    gap: 8px;
  }
}
